body {
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
  height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1204px;
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: #f3f3f3;
  height: 191px;
  display: flex;
  align-items: center;
}

.header__title {
  color: #3f3f3f;
  font-weight: bold;
  font-size: 2.3rem;
}

.header__nav {
  background: #fff;
  border-radius: 50px;
  width: 760px;
  height: 53px;
  display: flex;
  align-items: center;
}

.nav__progress {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  width: 90%;
}

.figure__logo {
  margin-left: -50px;
}

.list {
  display: flex;
  align-items: center;
  color: #474748;
}

.img {
  margin-right: 12px;
}

.events {
  position: relative;
  width: 100%;
  display: flex;
}

.events__texts {
  max-width: 550px;
  margin-top: 80px;
}

.wrap {
  display: flex;
}

.texts__title {
  font-weight: bold;
  font-size: 1.5rem;
}

.texts__event-title {
  color: #ff4f00;
}

.texts__event {
  background: transparent;
  box-shadow: 4px 10px 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ff4f00;
  border-radius: 10px;
  outline: none;
  padding: 13px 83px 13px 18px;
  margin-top: 5px;
}

.texts__btn {
  align-items: center;
  background: #ff4f00;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 15px 25px 14px;
  margin-left: 8px;
}

.ilustration {
  position: absolute;
  right: 0;
  margin-top: 180px;
}

.events__texts .texts__description {
  margin-top: 15px;
}

.footer {
  border-top: 2px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin-top: 28rem;
  width: 100%;
}

.footer__translate {
  display: flex;
  align-items: center;
}

.translate__select {
  border: 0;
  cursor: pointer;
  margin-left: 5px;
}